
@{
    ViewData["Title"] = "BaiTap2";
}

<h1>BaiTap2</h1>
@model SanPhamViewModel


<h3>Thông Tin Sản Phẩm</h3>

<form method="post" asp-action="BaiTap2">
    <div>
        <strong>Tên sản phẩm:</strong> @Model.TenSanPham
    </div>
    <div>
        <strong>Giá bán:</strong> @Model.GiaBan.ToString("C0")
    </div>
    <div>
        <strong>Ảnh mô tả:</strong>
        <img src="@Model.AnhMoTa" alt="Ảnh sản phẩm" />
    </div>


</form>
