@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <h2 style="color: red">Hello World!, I am Tran Thanh Hoang</h2>
    <hr />
    @{
        Layout = null;
    }
    <hr />
    <ul>
        <h1>Bảng Cửu Chương Từ 2 Đến 9</h1>

        @for (int i = 2; i <= 9; i++)
        {
            <h2>Bảng cửu chương @i:</h2>
            <ul>
                @for (int j = 1; j <= 10; j++)
                {
                    <li>@i x @j = @(i * j)</li>
                }
            </ul>
            <hr />
        }
    </ul>

</div>
