
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>GROUPHK</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822040013</td>
                    <td>Nguyễn Hoàng Hải Hưng</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822040093</td>
                    <td>Dương Hoàng Thái Huy</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822040206</td>
                    <td>Trần Thanh Hoàng</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>1822040032</td>
                    <td>Nguyễn Đăng Khoa</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Coppyright &Coppy; -@DateTime.Now.Year</p>
</footer>

