
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>Bài Tập </h2>
</header>

<section>
    <nav>
        <ul>
            <li>@ViewBag.HoTen</li>
            <li>@ViewBag.MSSV</li>
        </ul>
    </nav>

    <article>
        <h1>Giới Thiệu Bản Thân</h1>
    </article>
</section>

<footer>
    <ul>
        <li><p>Coppyright &Coppy @ViewBag.Nam</p></li>
</ul>
    
</footer>
