@{
    ViewData["Title"] = "Home Page";
}

    <header>
        <h2>GROUPHK</h2>
    </header>

    <section>
        <nav>
            <ul>
                <li><a href="~/trang-chu">Bản thân</a></li>
                <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
            </ul>
        </nav>

        <article>
            <h1>Nguyễn Hoàng Hải Hưng</h1>
        </article>
    </section>

    <footer>
        <p>Coppyright &Coppy; -@DateTime.Now.Year</p>
    </footer>



